body {
    background-color: lightblue;
    /* background-image: url(/img/hamburg-3846525_640.jpg) center center/cover no-repeat; */

    

}
h1 {
    color: red;
    font-size: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
}