body {
    /* background-color: lightblue; */
    /* background-image: url(/img/hamburg-3846525_640.jpg);
    height: 100%;
    width: 100%;
    
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; */
    img {
        position: center;
    };

}
h1 {
    color: red;
    font-size: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
}